@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Welcome to our luxurious five-star hotel, where elegance and sophistication meet unparalleled service and expertise in event planning.
    Our hotel is the perfect venue for hosting a variety of events, from corporate meetings and conferences, to lavish weddings and social gatherings.
    Our dedicated event planning team is here to assist you with every aspect of your event, from selecting the perfect event space to customizing the decor, catering, and entertainment.
    Our hotel features a variety of event spaces, including grand ballrooms, intimate conference rooms, and picturesque outdoor venues. 
    Each space is equipped with state-of-the-art audio-visual equipment and can accommodate groups of all sizes.

</p>

<p>
    In addition to our exceptional event spaces, our hotel also offers guests the highest level of service, from the moment you book your stay with us.
    Our rooms and suites are tastefully appointed with the finest furnishings and amenities, including plush bedding, high-speed internet, and flat-screen TVs.
    Guests can also enjoy the hotel's various facilities such as fitness center, spa and salon, swimming pool, and more.
    Thank you for considering our hotel for your upcoming event. We look forward to working with you to create a memorable and successful experience.

    Thank you for considering our hotel for your upcoming event. We look forward to working with you to create a memorable and successful experience..
</p>
