@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<p>
    Welcome to our contact page! We understand the importance of planning an event and we are here to assist you every step of the way. If you have any questions or inquiries about our event spaces, services, or booking process, please do not hesitate to reach out to us.
    You can contact us by phone by calling our dedicated event planning team at number provided below. Our team is available to take your call during regular business hours and will be happy to assist you with any questions or concerns you may have.
    You can also email us at events@sydneyhotel.com and one of our event planners will respond to your inquiry as soon as possible.
    Additionally, you can fill out the contact form on this page and one of our team members will get back to you promptly.
    We are also active on social media, you can follow us for updates, offers and other information.

    Thank you for considering our hotel for your upcoming event. We look forward to hearing from you and helping you plan a successful and memorable experience.
</p>

<address>
    Sydney Hotel<br />
    Redmond, WA <br />
    <abbr title="Phone">P:</abbr>
    025.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">event@sydneyhotel.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@sydndeyhotel.com</a>
</address>