<!DOCTYPE html>






<p>











</p>
<html>
<head>

    <style>
        table, th, td {
            border: 2px solid;
        }

        table {
            border-collapse: collapse;
            width: 50%
        }
    </style>
</head>
<body>
    <h2> Group list</h2>
    <table>
        <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>StudnetNumber</th>
        </tr>
        <tr>
            <td>Bhupen</td>
            <td>Karki DHoli</td>
            <td> 12100670</td>
        </tr>
        <tr>
            <td>Shrija</td>
            <td>Khadka</td>
            <td> 12000162</td>
        </tr>
        <tr>
            <td>Mira</td>
            <td>Tamang</td>
            <td> 12100324</td>
        </tr>

    </table>

</body>
</html>


@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SYDNEY HOTEL</h1>
    <p class="lead">
        There is no greater location than this: The iconic Sydney Harbor is directly outside our award-winning Central Business District Hotel, and The Rocks and Circular Quay are right across the street.
        Explore the local shopping, outdoor activities, and thriving social scene before meeting back at Mode Kitchen & Bar for delicious, regional food and beverages at Grain.
        Work and enjoyment are never too far apart in Sydney. And we like it just the way it is.
    </p>
    <p><a href="https://localhost:44300/Home/About" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>


</div>
<div class="row">
    <div class="col-md-4">
        <h2>Book an Events</h2>
        <p>
            Our hotel is the perfect venue for hosting a variety of parties and events. Whether you're planning a birthday celebration, a corporate event, or a weeding reception, we have the facilities and experties to make your special occasion a sucess.
            our spacious and versatile event spaces can accomodate groups of all sizes, and our dedicated event planning team will work with you to customize the perfect setting for your event.
            From decor and catering to audio-visual equipment and entertainment, we have everything you need to create a memorial experience for you and your guests.
            Book your party with us and let us take care of all the details, so you can relax and enjoy the celebration.
        </p>
        <p><a class="btn btn-default" href="https://localhost:44353/Bookings">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>See the collection of pervious events and attractive location near by</p>
        <p><a class="btn btn-default" href="https://localhost:44353/Home/About">See more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contact</h2>
        <p>Contact us by phone calling our customer service line at (02)23863782 or email us at marketing@sydneyhotel.com. </p>
        <p><a class="btn btn-default" href="https://localhost:44353/Home/Contact">Learn more &raquo;</a></p>
    </div>


</div>